@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat';
}

h1, h2, a, .icon {
    color: #05386B;
}

body {
    background-color: #AAABB8;
}

h1, h2 {
    font-weight: 900; 
}

h3 {
    font-size: 23px;
}

p, li {
    font-size: 18px; 
}

.sub-information {
    font-size: 14px; 
}

.profile-img {
    border-radius: 50%;
    margin: 10px;
}

.icon {
    font-size: 21px;
}